<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Concact</title>
</head>
<body>
<form>
  <label>Imię: </label><br><input type="text" name="imie"><br>
  <label>Nazwisko: </label><br><input type="text" name="naziwsko"><br>
  <label>E-mail: </label><br><input type="text" name="e-mail"><br>
  <label>Płeć: </label><br>
  <label>Mężczyzna: </label><input type="radio" name="plec">
  <label>Kobieta: </label><input type="radio" name="plec"><br>
  <label>Opis: </label><br><textarea rows="4" cols="20"> Podaj opis </textarea><br>
  <label>Wiek: </label><br><input type="number" name="wiek" min="1" max="99" placeholder="1"><br>
  <label>Stan cywilny: </label><br>
  <select>
    <option value="zonaty/zamezna">Żonaty/Zamężna</option>
    <option value="panna/kawaler">Panna/Kawaler</option>
  </select>
</form>
<div>
  <footer class="foot">
    Copyrights &copy; Kamil Żydek | 2020
  </footer>
</div>
</body>
</html>
