/* You can add global styles to this file, and also import other style files */
body{
    background-color: yellow;
}
.foot{
    text-align: center;
}
.side-bar-contact-element{
    font-size: 50px;
    text-align: center;
}
